$mercury-orbit-diameter: 7rem;
$mercury-planet-size: 0.6rem;
$mercury-orbit-time: 5s;

$venus-orbit-diameter: 9rem;
$venus-planet-size: 1rem;
$venus-orbit-time: 7s;

$earth-orbit-diameter: 11rem;
$earth-planet-size: 1rem;
$earth-orbit-time: 9s;

$mars-orbit-diameter: 13rem;
$mars-planet-size: 0.8rem;
$mars-orbit-time: 11s;

$jupiter-orbit-diameter: 22rem;
$jupiter-planet-size: 2.5rem;
$jupiter-orbit-time: 17s;

$saturn-orbit-diameter: 28rem;
$saturn-planet-size: 1.8rem;
$saturn-orbit-time: 20s;

$uranus-orbit-diameter: 34rem;
$uranus-planet-size: 1.3rem;
$uranus-orbit-time: 23s;

$neptune-orbit-diameter: 40rem;
$neptune-planet-size: 1.3rem;
$neptune-orbit-time: 26s;