$mercury-orbit-diameter: 7rem;
$mercury-planet-size: 0.6rem;
$mercury-orbit-time: 5s;

$venus-orbit-diameter: 9rem;
$venus-planet-size: 1rem;
$venus-orbit-time: 7s;

$earth-orbit-diameter: 11rem;
$earth-planet-size: 1rem;
$earth-orbit-time: 9s;

$mars-orbit-diameter: 13rem;
$mars-planet-size: 0.8rem;
$mars-orbit-time: 11s;
