/*Variables */
@use './variables' as *;

html {
	font-size: 16px;
}

body {
	overflow: hidden;
}



.w-100 {
	width: 100%;
}

.h-100 {
	height: 100%;
}

.m-0 {
	margin: 0px;
}

.sun-system {
	max-width: 1080px;
	max-height: 1080px;
}

.space {
	background-color: rgb(27, 29, 56);
}

.sun {
	width: 5rem;
	height: 5rem;
	background-color: yellow;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.circle {
	border-radius: 100%;

}

.planet {
	cursor: pointer;
}

.orbit {}

@mixin orbit($animation-duration, $diameter) {
	width: $diameter;
	height: $diameter;
	position: absolute;
	top: calc(50% - calc($diameter/2));
	left: calc(50% - calc($diameter/2));
	animation-name: movement;
	animation-iteration-count: infinite;
	animation-duration: $animation-duration;
	animation-timing-function: linear;
	border: 1px solid #ffffff;
	border-radius: 100%;

}

@mixin planet($size) {
	position: relative;
	top: calc(-1 * $size/2);
	left: calc(50% - calc($size/2));
	width: $size;
	height: $size;
	cursor: pointer;
}

.mercury-orbit {
	@include orbit($mercury-orbit-time, $mercury-orbit-diameter);
	z-index: 99;
}

.mercury-planet {
	@include planet($mercury-planet-size);
	background-color: rgb(97, 150, 197);
}

.venus-orbit {
	@include orbit($venus-orbit-time, $venus-orbit-diameter);
	z-index: 98;
}

.venus-planet {
	@include planet($venus-planet-size);
}

.earth-orbit {
	@include orbit($earth-orbit-time, $earth-orbit-diameter);
	z-index: 97;
}

.earth-planet {
	@include planet($earth-planet-size);
}

.mars-orbit {
	@include orbit($mars-orbit-time, $mars-orbit-diameter);
	z-index: 96;
}

.mars-planet {
	background-color: rgb(158, 19, 19);
	@include planet($mars-planet-size);
}

.jupiter-orbit {
	@include orbit($jupiter-orbit-time, $jupiter-orbit-diameter);
	z-index: 95;
}

.jupiter-planet {
	@include planet($jupiter-planet-size);
}

.saturn-orbit {
	@include orbit($saturn-orbit-time, $saturn-orbit-diameter);
	z-index: 94;
}

.saturn-planet {
	@include planet($saturn-planet-size);
}

.uranus-orbit {
	@include orbit($uranus-orbit-time, $uranus-orbit-diameter);
	z-index: 93;
}

.uranus-planet {
	background-color: rgb(68, 68, 68);
	@include planet($uranus-planet-size);
}

.neptune-orbit {
	@include orbit($neptune-orbit-time, $neptune-orbit-diameter);
	z-index: 92;
}

.neptune-planet {
	background-color: rgb(34, 123, 224);
	@include planet($neptune-planet-size);
}



@keyframes movement {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.sun-system~div {
	border: 1px solid red;
}

.modal {
	position: absolute;
	z-index: 100;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;

	/* Estado inicial (oculto) del fondo */
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
	/* Transición para el fondo */
}

.modal.is-active {
	/* Estado activo (visible) del fondo */
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
	transition: opacity 0.0s, visibility 0.0s;
	/* El fondo desaparece inmediatamente al cerrar */
}

/* Modal Content/Box */
.modal-content {
	font-size: 1em;
	color: #ccc;
	background-color: #2c2c2c;
	margin-right: auto;
	padding: 20px;
	width: 40%;
	height: 100%;
	border-right: 1px solid #ccc;

	/* Animación de deslizamiento del contenido */
	transform: translateX(-100%);
	/* Inicialmente fuera de la pantalla a la izquierda */
	transition: transform 0.3s ease-out;
	/* Transición suave para el contenido */
}

.modal.is-active .modal-content {
	transform: translateX(0);
	/* Deslizar hacia la pantalla */
}

/* The Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

#planet-image {
	margin: auto;
	display: block;
}

@media (max-width: 800px) {
	html {
		font-size: 12px;
	}
}

@media (max-width: 600px) {
	html {
		font-size: 8px
	}

	.modal-content {
		width: 60%;
	}
}

@media (max-width: 400px) {
	html {
		font-size: 6px;
	}

	.modal-content {
		width: 90%;
	}
}