/*Variables */
body {
  font-size: 16px;
  overflow: hidden;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.sun-system {
  max-width: 1080px;
  max-height: 1080px;
}

.space {
  background-color: #3d417e;
}

.sun {
  width: 5rem;
  height: 5rem;
  background-color: yellow;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.circle {
  border-radius: 100%;
}

.mercury-orbit {
  width: 7rem;
  height: 7rem;
  position: absolute;
  top: calc(50% - 3.5rem);
  left: calc(50% - 3.5rem);
  -webkit-animation-name: movement;
          animation-name: movement;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  border: 1px solid #ffffff;
  border-radius: 100%;
}

.mercury-planet {
  background-color: #6196c5;
  position: relative;
  top: -0.3rem;
  left: calc(50% - 0.3rem);
  width: 0.6rem;
  height: 0.6rem;
}

.venus-orbit {
  width: 9rem;
  height: 9rem;
  position: absolute;
  top: calc(50% - 4.5rem);
  left: calc(50% - 4.5rem);
  -webkit-animation-name: movement;
          animation-name: movement;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  border: 1px solid #ffffff;
  border-radius: 100%;
}

.venus-planet {
  background-color: orange;
  position: relative;
  top: -0.5rem;
  left: calc(50% - 0.5rem);
  width: 1rem;
  height: 1rem;
}

.earth-orbit {
  width: 11rem;
  height: 11rem;
  position: absolute;
  top: calc(50% - 5.5rem);
  left: calc(50% - 5.5rem);
  -webkit-animation-name: movement;
          animation-name: movement;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 9s;
          animation-duration: 9s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  border: 1px solid #ffffff;
  border-radius: 100%;
}

.earth-planet {
  background-color: #3f32f8;
  position: relative;
  top: -0.5rem;
  left: calc(50% - 0.5rem);
  width: 1rem;
  height: 1rem;
}

.mars-orbit {
  width: 13rem;
  height: 13rem;
  position: absolute;
  top: calc(50% - 6.5rem);
  left: calc(50% - 6.5rem);
  -webkit-animation-name: movement;
          animation-name: movement;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 11s;
          animation-duration: 11s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  border: 1px solid #ffffff;
  border-radius: 100%;
}

.mars-planet {
  background-color: #aa0505;
  position: relative;
  top: -0.4rem;
  left: calc(50% - 0.4rem);
  width: 0.8rem;
  height: 0.8rem;
}

.jupiter-orbit {
  width: 22rem;
  height: 22rem;
  position: absolute;
  top: calc(50% - 11rem);
  left: calc(50% - 11rem);
  -webkit-animation-name: movement;
          animation-name: movement;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 17s;
          animation-duration: 17s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  border: 1px solid #ffffff;
  border-radius: 100%;
}

.jupiter-planet {
  background-color: #cf8626;
  position: relative;
  top: -1.25rem;
  left: calc(50% - 1.25rem);
  width: 2.5rem;
  height: 2.5rem;
}

.saturn-orbit {
  width: 28rem;
  height: 28rem;
  position: absolute;
  top: calc(50% - 14rem);
  left: calc(50% - 14rem);
  -webkit-animation-name: movement;
          animation-name: movement;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  border: 1px solid #ffffff;
  border-radius: 100%;
}

.saturn-planet {
  background-color: #643f0e;
  position: relative;
  top: -0.9rem;
  left: calc(50% - 0.9rem);
  width: 1.8rem;
  height: 1.8rem;
}

.uranus-orbit {
  width: 34rem;
  height: 34rem;
  position: absolute;
  top: calc(50% - 17rem);
  left: calc(50% - 17rem);
  -webkit-animation-name: movement;
          animation-name: movement;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 23s;
          animation-duration: 23s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  border: 1px solid #ffffff;
  border-radius: 100%;
}

.uranus-planet {
  background-color: #444444;
  position: relative;
  top: -0.65rem;
  left: calc(50% - 0.65rem);
  width: 1.3rem;
  height: 1.3rem;
}

.neptune-orbit {
  width: 40rem;
  height: 40rem;
  position: absolute;
  top: calc(50% - 20rem);
  left: calc(50% - 20rem);
  -webkit-animation-name: movement;
          animation-name: movement;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 26s;
          animation-duration: 26s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  border: 1px solid #ffffff;
  border-radius: 100%;
}

.neptune-planet {
  background-color: #227be0;
  position: relative;
  top: -0.65rem;
  left: calc(50% - 0.65rem);
  width: 1.3rem;
  height: 1.3rem;
}

@-webkit-keyframes movement {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes movement {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=style.css.map */