@charset "UTF-8";
/*Variables */
html {
  font-size: 16px;
}

body {
  overflow: hidden;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.m-0 {
  margin: 0px;
}

.sun-system {
  max-width: 1080px;
  max-height: 1080px;
}

.space {
  background-color: rgb(27, 29, 56);
}

.sun {
  width: 5rem;
  height: 5rem;
  background-color: yellow;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle {
  border-radius: 100%;
}

.planet {
  cursor: pointer;
}

.mercury-orbit {
  width: 7rem;
  height: 7rem;
  position: absolute;
  top: calc(50% - 3.5rem);
  left: calc(50% - 3.5rem);
  animation-name: movement;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-timing-function: linear;
  border: 1px solid #ffffff;
  border-radius: 100%;
  z-index: 99;
}

.mercury-planet {
  position: relative;
  top: -0.3rem;
  left: calc(50% - 0.3rem);
  width: 0.6rem;
  height: 0.6rem;
  cursor: pointer;
  background-color: rgb(97, 150, 197);
}

.venus-orbit {
  width: 9.5rem;
  height: 9.5rem;
  position: absolute;
  top: calc(50% - 4.75rem);
  left: calc(50% - 4.75rem);
  animation-name: movement;
  animation-iteration-count: infinite;
  animation-duration: 7s;
  animation-timing-function: linear;
  border: 1px solid #ffffff;
  border-radius: 100%;
  z-index: 98;
}

.venus-planet {
  position: relative;
  top: -0.9rem;
  left: calc(50% - 0.9rem);
  width: 1.8rem;
  height: 1.8rem;
  cursor: pointer;
}

.earth-orbit {
  width: 12.5rem;
  height: 12.5rem;
  position: absolute;
  top: calc(50% - 6.25rem);
  left: calc(50% - 6.25rem);
  animation-name: movement;
  animation-iteration-count: infinite;
  animation-duration: 9s;
  animation-timing-function: linear;
  border: 1px solid #ffffff;
  border-radius: 100%;
  z-index: 97;
}

.earth-planet {
  position: relative;
  top: -0.9rem;
  left: calc(50% - 0.9rem);
  width: 1.8rem;
  height: 1.8rem;
  cursor: pointer;
}

.mars-orbit {
  width: 15rem;
  height: 15rem;
  position: absolute;
  top: calc(50% - 7.5rem);
  left: calc(50% - 7.5rem);
  animation-name: movement;
  animation-iteration-count: infinite;
  animation-duration: 11s;
  animation-timing-function: linear;
  border: 1px solid #ffffff;
  border-radius: 100%;
  z-index: 96;
}

.mars-planet {
  background-color: rgb(158, 19, 19);
  position: relative;
  top: -0.4rem;
  left: calc(50% - 0.4rem);
  width: 0.8rem;
  height: 0.8rem;
  cursor: pointer;
}

.jupiter-orbit {
  width: 22rem;
  height: 22rem;
  position: absolute;
  top: calc(50% - 11rem);
  left: calc(50% - 11rem);
  animation-name: movement;
  animation-iteration-count: infinite;
  animation-duration: 17s;
  animation-timing-function: linear;
  border: 1px solid #ffffff;
  border-radius: 100%;
  z-index: 95;
}

.jupiter-planet {
  position: relative;
  top: -2.25rem;
  left: calc(50% - 2.25rem);
  width: 4.5rem;
  height: 4.5rem;
  cursor: pointer;
}

.saturn-orbit {
  width: 28rem;
  height: 28rem;
  position: absolute;
  top: calc(50% - 14rem);
  left: calc(50% - 14rem);
  animation-name: movement;
  animation-iteration-count: infinite;
  animation-duration: 20s;
  animation-timing-function: linear;
  border: 1px solid #ffffff;
  border-radius: 100%;
  z-index: 94;
}

.saturn-planet {
  position: relative;
  top: -1.5rem;
  left: calc(50% - 1.5rem);
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.uranus-orbit {
  width: 34rem;
  height: 34rem;
  position: absolute;
  top: calc(50% - 17rem);
  left: calc(50% - 17rem);
  animation-name: movement;
  animation-iteration-count: infinite;
  animation-duration: 23s;
  animation-timing-function: linear;
  border: 1px solid #ffffff;
  border-radius: 100%;
  z-index: 93;
}

.uranus-planet {
  background-color: rgb(68, 68, 68);
  position: relative;
  top: -1rem;
  left: calc(50% - 1rem);
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.neptune-orbit {
  width: 40rem;
  height: 40rem;
  position: absolute;
  top: calc(50% - 20rem);
  left: calc(50% - 20rem);
  animation-name: movement;
  animation-iteration-count: infinite;
  animation-duration: 26s;
  animation-timing-function: linear;
  border: 1px solid #ffffff;
  border-radius: 100%;
  z-index: 92;
}

.neptune-planet {
  background-color: rgb(34, 123, 224);
  position: relative;
  top: -0.75rem;
  left: calc(50% - 0.75rem);
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

@keyframes movement {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.sun-system ~ div {
  border: 1px solid red;
}

.modal {
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  /* Estado inicial (oculto) del fondo */
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
  /* Transición para el fondo */
}

.modal.is-active {
  /* Estado activo (visible) del fondo */
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 0s, visibility 0s;
  /* El fondo desaparece inmediatamente al cerrar */
}

/* Modal Content/Box */
.modal-content {
  color: #ccc;
  background-color: #2c2c2c;
  margin-right: auto;
  padding: 20px;
  width: 40%;
  height: 100%;
  border-right: 1px solid #ccc;
  /* Animación de deslizamiento del contenido */
  transform: translateX(-100%);
  /* Inicialmente fuera de la pantalla a la izquierda */
  transition: transform 0.3s ease-out;
  /* Transición suave para el contenido */
}

.modal.is-active .modal-content {
  transform: translateX(0);
  /* Deslizar hacia la pantalla */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#planet-image {
  margin: auto;
  display: block;
}

@media (max-width: 800px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 8px;
  }
  .modal-content {
    width: 60%;
  }
}
@media (max-width: 400px) {
  html {
    font-size: 6px;
  }
  .modal-content {
    width: 90%;
  }
}/*# sourceMappingURL=style.css.map */