/*Variables */
html {
  font-size: 16px;
}

body {
  overflow: hidden;
}

@media (max-width: 800px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 6px;
  }
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.m-0 {
  margin: 0px;
}

.sun-system {
  max-width: 1080px;
  max-height: 1080px;
}

.space {
  background-color: #1b1d38;
}

.sun {
  width: 5rem;
  height: 5rem;
  background-color: yellow;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle {
  border-radius: 100%;
}

.mercury-orbit {
  width: 7rem;
  height: 7rem;
  position: absolute;
  top: calc(50% - 3.5rem);
  left: calc(50% - 3.5rem);
  animation-name: movement;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-timing-function: linear;
  border: 1px solid #ffffff;
  border-radius: 100%;
}

.mercury-planet {
  background-color: #6196c5;
  position: relative;
  top: -0.3rem;
  left: calc(50% - 0.3rem);
  width: 0.6rem;
  height: 0.6rem;
}

.venus-orbit {
  width: 9.5rem;
  height: 9.5rem;
  position: absolute;
  top: calc(50% - 4.75rem);
  left: calc(50% - 4.75rem);
  animation-name: movement;
  animation-iteration-count: infinite;
  animation-duration: 7s;
  animation-timing-function: linear;
  border: 1px solid #ffffff;
  border-radius: 100%;
}

.venus-planet {
  position: relative;
  top: -0.9rem;
  left: calc(50% - 0.9rem);
  width: 1.8rem;
  height: 1.8rem;
}

.earth-orbit {
  width: 12.5rem;
  height: 12.5rem;
  position: absolute;
  top: calc(50% - 6.25rem);
  left: calc(50% - 6.25rem);
  animation-name: movement;
  animation-iteration-count: infinite;
  animation-duration: 9s;
  animation-timing-function: linear;
  border: 1px solid #ffffff;
  border-radius: 100%;
}

.earth-planet {
  position: relative;
  top: -0.9rem;
  left: calc(50% - 0.9rem);
  width: 1.8rem;
  height: 1.8rem;
}

.mars-orbit {
  width: 15rem;
  height: 15rem;
  position: absolute;
  top: calc(50% - 7.5rem);
  left: calc(50% - 7.5rem);
  animation-name: movement;
  animation-iteration-count: infinite;
  animation-duration: 11s;
  animation-timing-function: linear;
  border: 1px solid #ffffff;
  border-radius: 100%;
}

.mars-planet {
  background-color: #9e1313;
  position: relative;
  top: -0.4rem;
  left: calc(50% - 0.4rem);
  width: 0.8rem;
  height: 0.8rem;
}

.jupiter-orbit {
  width: 22rem;
  height: 22rem;
  position: absolute;
  top: calc(50% - 11rem);
  left: calc(50% - 11rem);
  animation-name: movement;
  animation-iteration-count: infinite;
  animation-duration: 17s;
  animation-timing-function: linear;
  border: 1px solid #ffffff;
  border-radius: 100%;
}

.jupiter-planet {
  position: relative;
  top: -2.25rem;
  left: calc(50% - 2.25rem);
  width: 4.5rem;
  height: 4.5rem;
}

.saturn-orbit {
  width: 28rem;
  height: 28rem;
  position: absolute;
  top: calc(50% - 14rem);
  left: calc(50% - 14rem);
  animation-name: movement;
  animation-iteration-count: infinite;
  animation-duration: 20s;
  animation-timing-function: linear;
  border: 1px solid #ffffff;
  border-radius: 100%;
}

.saturn-planet {
  position: relative;
  top: -1.5rem;
  left: calc(50% - 1.5rem);
  width: 3rem;
  height: 3rem;
}

.uranus-orbit {
  width: 34rem;
  height: 34rem;
  position: absolute;
  top: calc(50% - 17rem);
  left: calc(50% - 17rem);
  animation-name: movement;
  animation-iteration-count: infinite;
  animation-duration: 23s;
  animation-timing-function: linear;
  border: 1px solid #ffffff;
  border-radius: 100%;
}

.uranus-planet {
  background-color: #444444;
  position: relative;
  top: -1rem;
  left: calc(50% - 1rem);
  width: 2rem;
  height: 2rem;
}

.neptune-orbit {
  width: 40rem;
  height: 40rem;
  position: absolute;
  top: calc(50% - 20rem);
  left: calc(50% - 20rem);
  animation-name: movement;
  animation-iteration-count: infinite;
  animation-duration: 26s;
  animation-timing-function: linear;
  border: 1px solid #ffffff;
  border-radius: 100%;
}

.neptune-planet {
  background-color: #227be0;
  position: relative;
  top: -0.75rem;
  left: calc(50% - 0.75rem);
  width: 1.5rem;
  height: 1.5rem;
}

@keyframes movement {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sun-system ~ div {
  border: 1px solid red;
}
/*# sourceMappingURL=style.css.map */